<div class="container mt-5 px-2">
    <h1 class="text-center">Orders</h1>
    <div *ngIf="orderHistory.length > 0" class="table-responsive">
        <table class="table table-responsive table-borderless">

            <thead>
            <tr class="bg-light">
                <th scope="col"><input class="form-check-input" type="checkbox"></th>
                <th scope="col">Tracking Number</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th scope="col">Quantity</th>
                <th scope="col" class="text-end"><span>Revenue</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let order of orderHistory">
                <th scope="row"><input class="form-check-input" type="checkbox"></th>
                <td>{{order.orderTrackingNumber}}</td>
                <td>{{order.dateCreated | date: 'medium'}}</td>
                <td><i class="fa fa-check-circle-o green"></i><span class="ms-1">Paid</span></td>
                <td>{{order.totalQuantity}}</td>
                <td class="text-end"><span class="fw-bolder">{{ order.totalPrice | currency: 'USD' }}</span></td>
            </tr>
            </tbody>
        </table>

    </div>
    <div *ngIf="orderHistory.length == 0" class="alert alert-warning col-md-12"> You have no orders. <a
            routerLink="/prducts"
            class="text-body">Continue
        shopping</a>
    </div>
</div>
