<section class="h-5 h-custom">
    <div class="container py-5 h-100">
        <div *ngIf="cartItems.length > 0" class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">

                        <div class="row">

                            <div class="col-lg-7">
                                <h5 class="mb-3"><a routerLink="/prducts" class="text-body"><i
                                        class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
                                <hr>

                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <div>
                                        <p class="mb-1">Shopping cart</p>
                                        <p class="mb-0">You have {{ cartItems.length }} items in your cart</p>
                                    </div>
                                </div>

                                <div *ngFor="let item of cartItems" class="card mb-3">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row align-items-center">
                                                <div>
                                                    <img
                                                            src="{{item.imageUrl}}"
                                                            class="img-fluid rounded-3" alt="Shopping item"
                                                            style="width: 65px;">
                                                </div>
                                                <div class="ms-3">
                                                    <h5>{{item.name}}</h5>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-row align-items-center">
                                                <div style="width: 100px;">
                                                    <button (click)="incrementQuantity(item)" class="btn btn-primary btn-sm">
                                                        <i class="fas fa-plus"></i>
                                                    </button>
                                                    <label class="fw-normal mb-0 col-3 text-center">{{item.quantity}}</label>
                                                    <button (click)="decrementQuantity(item)" class="btn btn-primary btn-sm">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                    <div class="col-7"></div>
                                                </div>
                                                <div style="width: 80px;">
                                                    <h5 class="mb-0">{{item.unitPrice | currency: 'USD' }}</h5>
                                                </div>
                                                <button (click)="removeItem(item)" style="color: #cecece;"><i
                                                        class="fas fa-trash-alt"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <form [formGroup]="creditCardFrom" (ngSubmit)="submit()" class="col-lg-5">

                                <div formGroupName="creditCard" class="card-info text-white rounded-3">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                            <h5 class="mb-2">Card details</h5>
                                        </div>

                                        <p class="small mb-2">Card type</p>
                                        <a href="#!" type="submit" class="text-white"><i
                                                class="fab fa-cc-mastercard fa-2x me-2"></i></a>
                                        <a href="#!" type="submit" class="text-white"><i
                                                class="fab fa-cc-visa fa-2x me-2"></i></a>
                                        <a href="#!" type="submit" class="text-white"><i
                                                class="fab fa-cc-amex fa-2x me-2"></i></a>
                                        <a href="#!" type="submit" class="text-white"><i
                                                class="fab fa-cc-paypal fa-2x"></i></a>

                                        <div class="mt-4">
                                            <div class="form-outline form-white mb-4">
                                                <label class="form-label" for="typeName">Cardholder's Name</label>
                                                <input formControlName="name" type="text" id="typeName" class="form-control form-control-lg"
                                                       size="17"
                                                       placeholder="Cardholder's Name"/>
                                                <div *ngIf="cardName.invalid && (cardName.dirty || cardName.touched)">
                                                    <label *ngIf="cardName.errors?.['required'] || cardName.errors?.['notOnlyWithespace']" class="form-label error-label" for="typeExp">
                                                        Name is required.
                                                    </label>
                                                    <label *ngIf="cardName.errors?.['minlength']" class="form-label error-label" for="typeExp">
                                                        Name must be at least 2 character long.
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="form-outline form-white mb-4">
                                                <label class="form-label" for="card-number">Card Number</label>
                                                <input formControlName="number" type="text" id="card-number" class="form-control form-control-lg"
                                                       size="17"
                                                       placeholder="1234 5678 9012 3457" minlength="19" maxlength="19"/>
                                                <div *ngIf="cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)">
                                                    <label *ngIf="cardNumber.errors?.['required']" class="form-label error-label" for="typeExp">
                                                        Number is required.
                                                    </label>
                                                    <label *ngIf="cardNumber.errors?.['pattern']" class="form-label error-label" for="typeExp">
                                                        Number must have 16 digit digits.
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="row mb-4">
                                                <div class="col-md-6">
                                                    <div class="form-outline form-white">
                                                        <label class="form-label">Month</label>
                                                        <select formControlName="month"
                                                                class="form-control form-control-lg"
                                                                maxlength="7">
                                                            <option *ngFor="let month of creditCardMonth">{{ month }}</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-outline form-white">
                                                        <label class="form-label">Year</label>
                                                        <select formControlName="year"
                                                                class="form-control form-control-lg"
                                                                maxlength="7" (change)="handleMonthAndYears()">
                                                            <option *ngFor="let year of creditCardYears">{{ year }}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-outline form-white">
                                                        <label class="form-label" for="typeText">Cvv</label>
                                                        <input formControlName="cvv" type="text" id="typeText"
                                                               class="form-control form-control-lg"
                                                               placeholder="&#9679;&#9679;&#9679;" size="1"
                                                               minlength="3" maxlength="3"/>
                                                        <div *ngIf="cardCvv.invalid && (cardCvv.dirty || cardCvv.touched)">
                                                            <label *ngIf="cardCvv.errors?.['required']" class="form-label error-label">
                                                                Cvv is required.
                                                            </label>
                                                            <label *ngIf="cardCvv.errors?.['pattern']" class="form-label error-label">
                                                                Number must have 3 digit digits.
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <hr class="my-4">

                                        <div class="d-flex justify-content-between mb-4">
                                            <p class="mb-2">Total Quantity : </p>
                                            <p class="mb-2">{{ totalQuantity }}</p>
                                        </div>
                                        <div class="d-flex justify-content-between mb-4">
                                            <p class="mb-2">Shipping : </p>
                                            <p class="mb-2">Free</p>
                                        </div>

                                        <div class="d-flex justify-content-between mb-4">
                                            <p class="mb-2">Total(Incl. taxes)</p>
                                            <p class="mb-2">{{ totalPrice | currency: 'USD' }}</p>
                                        </div>

                                        <button type="submit" class="btn btn-info btn-block btn-lg">
                                            <div class="d-flex justify-content-between">
                                                <span> Checkout <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                                            </div>
                                        </button>

                                    </div>
                                </div>

                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="cartItems.length ==  0" class="alert alert-warning col-md-12">Your Shopping cart is empty. <a
                routerLink="/prducts"
                class="text-body">Continue
            shopping</a>
        </div>
    </div>
</section>
