<section class="h-5 h-custom">
    <div class="container py-5 h-100">
        <div *ngIf="cartItems.length > 0" class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">

                        <div class="row">

                            <div class="col-lg-7">
                                <h5 class="mb-3"><a routerLink="/prducts" class="text-body"><i
                                        class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
                                <hr>

                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <div>
                                        <p class="mb-1">Shopping cart</p>
                                        <p class="mb-0">You have {{ cartItems.length }} items in your cart</p>
                                    </div>
                                </div>

                                <div *ngFor="let item of cartItems" class="card mb-3">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row align-items-center">
                                                <div>
                                                    <img
                                                            src="{{item.imageUrl}}"
                                                            class="img-fluid rounded-3" alt="Shopping item"
                                                            style="width: 65px;">
                                                </div>
                                                <div class="ms-3">
                                                    <h5>{{item.name}}</h5>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-row align-items-center">
                                                <div style="width: 100px;">
                                                    <button (click)="incrementQuantity(item)" class="btn btn-primary btn-sm">
                                                        <i class="fas fa-plus"></i>
                                                    </button>
                                                    <label class="fw-normal mb-0 col-3 text-center">{{item.quantity}}</label>
                                                    <button (click)="decrementQuantity(item)" class="btn btn-primary btn-sm">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                    <div class="col-7"></div>
                                                </div>
                                                <div style="width: 80px;">
                                                    <h5 class="mb-0">{{item.unitPrice | currency: 'USD' }}</h5>
                                                </div>
                                                <button (click)="removeItem(item)" style="color: #cecece;"><i
                                                        class="fas fa-trash-alt"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-5">

                                <div class="card-info text-white rounded-3">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between mb-4">
                                            <p class="mb-2">Total Quantity : </p>
                                            <p class="mb-2">{{ totalQuantity }}</p>
                                        </div>
                                        <div class="d-flex justify-content-between mb-4">
                                            <p class="mb-2">Shipping : </p>
                                            <p class="mb-2">Free</p>
                                        </div>

                                        <div class="d-flex justify-content-between mb-4">
                                            <p class="mb-2">Total(Incl. taxes)</p>
                                            <p class="mb-2">{{ totalPrice | currency: 'USD' }}</p>
                                        </div>

                                        <button (click)="submit()" class="btn btn-info btn-block btn-lg">
                                            <div class="d-flex justify-content-between">
                                                <span> Checkout <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                                            </div>
                                        </button>

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="cartItems.length ==  0" class="alert alert-warning col-md-12">Your Shopping cart is empty. <a
                routerLink="/prducts"
                class="text-body">Continue
            shopping</a>
        </div>
    </div>
</section>
