<div class="container">
    <div class="card">
        <div class="row">
            <aside class="col-sm-5 border-right">
                <article class="gallery-wrap">
                    <div class="img-big-wrap">
                        <div><a href="#"><img src="{{product.imageUrl}}"></a></div>
                    </div>
                </article>
            </aside>
            <aside class="col-sm-7">
                <article class="card-body p-5">
                    <h3 class="title mb-3">{{product.name}}</h3>

                    <p class="price-detail-wrap">
          <span class="price h3 text-warning">
            <span class="currency"></span><span class="num">{{product.unitPrice | currency: 'USD' }}</span>
          </span>
                    </p> <!-- price-detail-wrap .// -->
                    <dl class="item-property">
                        <dt>Description</dt>
                        <dd><p>{{product.description}}</p></dd>
                    </dl>
                    <dl class="param param-feature">
                        <dt>Model</dt>
                        <dd>{{product.sku}}</dd>
                    </dl>
                    <dl class="param param-feature">
                        <dt>Color</dt>
                        <dd>Black and white</dd>
                    </dl>
                    <hr>
                    <div class="row">
                        <div class="col-sm-5">
                            <dl class="param param-inline">
                                <dt>Quantity:</dt>
                                <dd>
                                    <input type="number" #quantity id="typeNumber" min="1" value="1" class="form-control"/>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <hr>
                    <a href="#" routerLink="/products" class="btn btn-lg btn-primary .m-auto">Back To product
                        list </a>
                    <button href="#" (click)="addToCart()" class="btn btn-lg btn-outline-primary "><i
                            class="fas fa-shopping-cart"></i> Add to
                        cart
                    </button>
                </article>
            </aside>
        </div>
    </div>
</div>
